.esa-content {
  padding: 5vh 0;
  min-height: 60vh; }

@media screen and (min-width: 1200px) {
  .main-header-menu a {
    padding: 0 !important; } }

body.page-template-survey .page-title {
  padding-bottom: 2rem; }
  body.page-template-survey .page-title h1 {
    padding: 0 !important; }

body.page-template-survey .page-header .photo .caption {
  padding-top: 0.25rem; }
  body.page-template-survey .page-header .photo .caption span {
    display: block;
    font-size: 0.75rem;
    font-style: italic; }

body.page-template-survey .options {
  padding-top: 3rem; }
  body.page-template-survey .options .headline {
    padding-bottom: 2rem; }
  body.page-template-survey .options .option {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between; }
    body.page-template-survey .options .option + .option {
      padding-top: 3rem;
      border-top: 1px solid #d5d5d5;
      margin-top: 3rem; }
    body.page-template-survey .options .option .logo {
      max-width: 15rem;
      padding-bottom: 1rem; }
      @media screen and (min-width: 768px) {
        body.page-template-survey .options .option .logo {
          width: auto;
          max-width: 10rem;
          padding-bottom: 0; } }
    @media screen and (min-width: 768px) {
      body.page-template-survey .options .option .info {
        flex: 1;
        padding-left: 2rem; } }
    body.page-template-survey .options .option .name {
      padding-bottom: 1rem; }
      body.page-template-survey .options .option .name h3 {
        font-size: clamp(1.25rem, 1.4vw, 1.5rem);
        line-height: 1.25em; }
    body.page-template-survey .options .option .description p {
      font-size: clamp(0.875rem, 1vw, 1rem);
      margin: 0; }
      body.page-template-survey .options .option .description p + * {
        padding-top: 2rem; }
    body.page-template-survey .options .option .cta {
      padding-top: 0.5rem; }
      body.page-template-survey .options .option .cta .link {
        text-decoration: underline; }

body.page-template-survey .survey {
  padding-top: 3rem; }
  body.page-template-survey .survey .headline {
    padding-bottom: 2rem; }
  body.page-template-survey .survey .embed .smcx-embed,
  body.page-template-survey .survey .embed .smcx-iframe-container {
    height: 550px; }

body.page-template-making-waves .site-content .ast-container {
  max-width: 100%;
  padding: 0 !important;
  margin: 0; }

body.page-template-making-waves .making-waves-header {
  text-align: center;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 20px; }
  body.page-template-making-waves .making-waves-header h1 {
    font-weight: 100 !important;
    color: #1193BA;
    line-height: 1.125em;
    padding-bottom: 1rem; }
  body.page-template-making-waves .making-waves-header h2 {
    font-weight: 100 !important;
    color: #145C7F;
    font-size: 2rem;
    line-height: 1.125em;
    padding-bottom: 2rem; }
  body.page-template-making-waves .making-waves-header p {
    font-size: 1.25rem;
    line-height: 1.25em;
    font-style: italic;
    text-align: center; }

body.page-template-making-waves .making-waves-body {
  padding: 2rem 20px 4rem;
  position: relative; }
  body.page-template-making-waves .making-waves-body:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    max-height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url(images/making-waves-bg.svg) no-repeat top center;
    background-size: 100%; }

body.page-template-making-waves .sign-up-form {
  position: relative;
  z-index: 1;
  max-width: 480px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 4px 27px -5px, rgba(0, 0, 0, 0.15) 0px 2px 16px -8px; }
  body.page-template-making-waves .sign-up-form .field + .field {
    padding-top: 2rem; }
  body.page-template-making-waves .sign-up-form .field label {
    display: block; }
  body.page-template-making-waves .sign-up-form .field input[type='text'],
  body.page-template-making-waves .sign-up-form .field input[type='email'] {
    width: 100%; }
  body.page-template-making-waves .sign-up-form .other-list {
    display: flex; }
    body.page-template-making-waves .sign-up-form .other-list input {
      display: block;
      margin-top: 6px; }
    body.page-template-making-waves .sign-up-form .other-list label {
      padding-left: 0.5rem;
      font-size: 0.875rem;
      font-weight: normal;
      font-style: italic; }
  body.page-template-making-waves .sign-up-form .submit button {
    color: #fff;
    background: #1193BA;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em; }
