body.page-template-making-waves {

    .site-content .ast-container {
        max-width: 100%;
        padding: 0 !important;
        margin: 0;
    }

    .making-waves-header {
        text-align: center;
        max-width: 640px;
        margin: 0 auto;
        padding: 0 20px;

        h1 {
            font-weight: 100 !important;
            color: #1193BA;
            line-height: 1.125em;
            padding-bottom: 1rem;
        }

        h2 {
            font-weight: 100 !important;
            color: #145C7F;
            font-size: 2rem;
            line-height: 1.125em;
            padding-bottom: 2rem;

        }

        p {
            font-size: 1.25rem;
            line-height: 1.25em;
            font-style: italic;
            text-align: center;
        }
    }

    .making-waves-body {
        padding: 2rem 20px 4rem;
        position: relative;


        &:before {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            max-height: 50vh;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 0;
            background: url(images/making-waves-bg.svg) no-repeat top center;
            background-size: 100%;
        }
    }

    .sign-up-form {
        position: relative;
        z-index: 1;
        max-width: 480px;
        margin: 0 auto;
        background: #fff;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.1) 0px 4px 27px -5px, rgba(0, 0, 0, 0.15) 0px 2px 16px -8px;

        .field {

            & + .field {
                padding-top: 2rem;
            }

            label {
                display: block;
            }

            input[type='text'],
            input[type='email'] {
                width: 100%;
            }
        }

        .other-list {
            display: flex;

            input {
                display: block;
                margin-top: 6px;
            }
            
            label {
                padding-left: 0.5rem;
                font-size: 0.875rem;
                font-weight: normal;
                font-style: italic;
            }
        }

        .submit {
            button {
                color: $white;
                background: #1193BA;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 0.05em;
            }
        }
    }

}