body.page-template-survey {

    .page-title {
        padding-bottom: 2rem;

        h1 {
            padding: 0 !important;
        }


    }

    .page-header {
        .photo {
            .caption {
                padding-top: 0.25rem;

                span {
                    display: block;
                    font-size: 0.75rem;
                    font-style: italic;
                }
            }
        }        
    }

    .options {
        padding-top: 3rem;

        .headline {
            padding-bottom: 2rem;
        }

        .option {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            & + .option {
                padding-top: 3rem;
                border-top: 1px solid #d5d5d5;
                margin-top: 3rem;
            }

            .logo {
                max-width: 15rem;
                padding-bottom: 1rem;                

                @include tablet {
                    width: auto;
                    max-width: 10rem;
                    padding-bottom: 0;
                }
            }

            .info {
                @include tablet {
                    flex: 1;
                    padding-left: 2rem;
                }
            }

            .name {
                padding-bottom: 1rem;

                h3 {
                    font-size: clamp(1.25rem, 1.4vw, 1.5rem);
                    line-height: 1.25em;
                }
            }

            .description {
                p {
                    font-size: clamp(0.875rem, 1vw, 1rem);
                    margin: 0;

                    & + * {
                        padding-top: 2rem;
                    }
                }
            }

            .cta {
                padding-top: 0.5rem;

                .link {
                    text-decoration: underline;
                }
            }

        }
    }

    .survey {
        padding-top: 3rem;

        .headline {
            padding-bottom: 2rem;
        }

        .embed {
            .smcx-embed,
            .smcx-iframe-container {
                height: 550px;

            }
        }
    }
}